*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x:hidden;
  position:relative;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-family: helvetica;
  font-weight: bold;

}

/*1st page*/
.background-wrap {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

#video-bg-elem {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
}

  h2 {
  font-family: Helvetica;
  color: #FFFFFF;
  font-size: 38px;
  padding-bottom: 50px;
  margin-top: 10px;
  margin-left: 50px;
  }

  h1 {
  font-family: Helvetica;
  color: #FFFFFF;
  font-size: 38px;
  font-weight: bold;
  padding-top: 5px;
  margin-bottom: -10px;
  margin-left: 50px;
  }

  h3 {
  font-size: 16px;
  margin-left: 50px;
  font-family: helvetica;
  color: #FFFFFF;
  font-weight: bold;
  }

.video-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity:0.4;
}

@media screen and (min-width: 780px) {

h2 {
font-family: Helvetica;
color: #FFFFFF;
font-size: 55px;
padding-bottom: 50px;
margin-top: 10px;
margin-left: 130px;
}

h1 {
font-family: Helvetica;
color: #FFFFFF;
font-size: 55px;
font-weight: bold;
padding-top: 5px;
margin-bottom: -10px;
margin-left: 130px;
}

h3 {
font-size: 14px;
margin-left: 130px;
font-family: helvetica;
color: #FFFFFF;
font-weight: bold;
}
h5 {
font-family: Helvetica;
  color: #FFFFFF;
  font-size: 20px;
  padding-bottom: 50px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50%;
  }
  h6 {
font-family: Helvetica;
  color: #FFFFFF;
  font-size: 32px;
  padding-bottom: 50px;
  margin-top: 10px;
  margin-left: 50px;
  }
 
  h7 {
  font-family: Helvetica;
  color: #FFFFFF;
  font-size: 28px;
  padding-bottom: 50px;
  margin-top: 10px;
  margin-left: 50px;
  }

}
/*end of 1st page*/

ul {
  margin-left: 50px;
}

.pageMenu {
    position: absolute;
    width:100%;
    top:0; left:0px;
    height:15vh;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;

  }
   .menuleft {
  float: left;
  padding-right: 100px;}

.menuright {
  float: right;
  margin-right: 80px;
}


.menuRight{
    height: 20%;
    position: absolute;
    right: 40px;
    font-size: 14px;
}




.wrapper {
    height: 100%;
    text-decoration: none;
   /* background: #263729;*/
}

.page {
    float:left;
   /* background: #992213;*/
    min-height: 100%;
    padding-top: 30px;
  }


#page-2 {
<<<<<<< HEAD
   /* background: #009900;*/
=======
    background: #194656;
>>>>>>> origin/master
}
#page-3 {
    background: #194656;
}

#page-4 {
background: ;

}

a {
    color:#FFF;
    margin-right: 15px;
    font-size: 14px;
}
a.selected{
    color: red;
}


/*h1{
  font-size:1em;
  text-align:center;
  color: #eee;
  letter-spacing:1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);)
}*/

.menuContainer{
  width:50px;
  margin-top:10px;
  box-shadow: 0 2px 2px 2px black;
  transition: all 0.3s linear;
  position: absolute;
}

.menu{
  list-style-type:none;
  margin:0;
  padding:0;
}
li{
  height:50px; 
  position:relative;
  background: linear-gradient(#292929, #242424);
}
#page-3 a {
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid black;
  text-decoration:none;
  display:block;
  height:100%;
  width:100%;
  line-height:50px;
  color:#bbb;
  text-transform: uppercase;
  font-weight: bold;
  padding-left:25%;
  border-left:5px solid transparent;
  letter-spacing:1px;
  transition: all 0.3s linear;
}
#page-3 .active a{
  color: #B93632;
  border-left:5px solid #B93632;
  background-color: #1B1B1B;
  outline:0;
}
#page-3 li:not(.active):hover a{
  color: #eee;
  border-left: 5px solid #FCFCFC;
 background-color: #1B1B1B;
}
span[class ^= "icon"]{
  position:absolute;
  left:20px;
  font-size: 1.5em;
  transition: all 0.3s linear;
}

@media only screen and (max-width : 860px){
  
  .text{
    display:none;
  }
  
  #page-3 .menuContainer , a{
    width: 30px;
    
  }
   
  #page-3 a:hover{
    width:200px; 
    z-index:1;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    box-shadow: 0 0 1px 1px black;
  }
  
  #page-3 a:hover  .text {
    display:block;
    padding-left:30%;
  }
}
@media only screen and (max-width : 30px){
 #page-3 .menuContainer, a{ width:30px;}
  span[class ^= "icon"]{ left:8px;}
}


.bubbleChart {
      min-width: 100px;
      max-width: 700px;
      height: 500px;
      margin: 0 auto;
      top: 0;
    }
    .bubbleChart svg{
      
    }

.video-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000000;
    opacity:0.4;
}

<<<<<<< HEAD
#map {
    width:950px;
    height:550px;
    margin-left: 220px;
    margin-top: 50px;
}

=======
>>>>>>> origin/master
